<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>
<body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/aplicacion/inicio">APP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/aplicacion/mispublicaciones">My Questions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aplicacion/inicio">Exit</a>
            </li>
          </ul>
        </div>
        </div>
    </nav>

     <div class="row py-2"> 

        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                  Ask a question:
                </div>
                <div class="card-body">
                  <form method="POST">{% csrf_token %}
                    <textarea name="ask" class="form-control" cols="62" rows="5" placeholder="">

                    </textarea>
                    <button type="submit" class="btn btn-primary btn-block my-2">Ask</button>
                  </form>
                </div>
              </div>

            {% if post %}
              {% for a in post%}
              <div class="card my-2">
                <div class="card-header">
                  Question asked by {{ a.userid.username}}
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>{{ a.consult }}</p>
                  </blockquote>

                  <form  action="/aplicacion/comentario/" method="POST">{% csrf_token %}
                    <input type="hidden" name="post" value={{ a.id }}>
                    <div class="input-group mb-3">
                      <input type="text" name="coment" class="form-control" placeholder="Here make a comment" 
                      aria-label="Recipient's username" aria-describedby="button-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit" 
                        id="button-addon2">Comment</button>
                      </div>
                    </div>
                  </form>
                </div>
                {% if comentarios %}
                  {% for b in comentarios%}
                    {% if b.postid == a %}
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"> <strong>{{ b.userid.username }} :</strong> {{ b.content }}</li>
                    </ul>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </div>
              {% endfor %}
            {% else %}
            <div class="card text-white bg-info mb-3 offset-md-3 my-3" style="max-width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">There is no published question</h5>
                <p class="card-text">Be the first to post a question</p>
                </div>
            </div>
            {% endif %}

        </div>
     </div>  

    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>